<footer>
<ul>
	<li><%= link_to 'about', '/about' %></li>
	<li><%= link_to 'blog', 'http://www.cowbirdco.tumblr.com/', :target => "_blank" %></li>
	<li><%= link_to 'tw', 'http://www.twitter.com/cowbirdco', :target => "_blank" %></li>
	<li><%= link_to 'fb', 'http://www.facebook.com/cowbirdco', :target => "_blank" %></li>
	<li><%= link_to 'ts&cs', '/tsandcs' %></li>
	<li><%= link_to 'privacy', '/privacy' %></li>
</ul>
</footer>