<section id="container">
<div class='calc_form'>
<%= form_tag("/calc", {method: :post} ) do %>

	<div class='pane a'>
		<div class='q_one'>Tell us when you're usually available during the week.</div>
		<div class='q'>
			<div class='button aa'>
			<%= radio_button_tag(:availablity, 'weekends') %>
			<%= label_tag(:weekends, "I'm a weekend warrior.") %>
			</div>
			<div class='button ba'>
			<%= radio_button_tag(:availablity, 'week_day_evenings') %>
			<%= label_tag(:week_day_evenings, "I am available in the evenings.") %>
			</div>
			<div class='button ca'>
			<%= radio_button_tag(:availablity, 'week_days') %>
			<%= label_tag(:week_days, "I am availabls on the week days.") %>
			</div>
			<div class='button da'>
			<%= radio_button_tag(:availablity, 'open') %>
			<%= label_tag(:open, "I'm free as a bird, let's fill up my scehdule.") %>
			</div>
			<div class='button ea'>
			<%= radio_button_tag(:availablity, 'no_availablity') %>
			<%= label_tag(:no_availablity, "Unfortunality, I'm soooo busy I can't spare any moments.") %>
			</div>
		</div>
	</div>

	<div class='pane b'>
		<div class='q_two'>
			<ul>
			<li>Now we're getting somewhere, how about your abode?</li><br>
			<li>Let us know if you can provide someone with a crashpad.</li>
			</ul>
		</div>
		<div class='q'>
			<div class='button ab'>
			<%= radio_button_tag(:house, 'room') %>
			<%= label_tag(:room, "I have a room.") %>
			</div>
			<div class='button bb'>
			<%= radio_button_tag(:house, 'apartment') %>
			<%= label_tag(:apartment, "I have a whole apartment.") %>
			</div>
			<div class='button cb'>
			<%= radio_button_tag(:house, 'house') %>
			<%= label_tag(:house, "I have a house.") %>
			</div>
			<div class='button db'>
			<%= radio_button_tag(:house, 'no_room') %>
			<%= label_tag(:no_room, "No room in the inn, let's move along.") %>
			</div>	
		</div>
	</div>

	<div class='pane c'>
		<div class='q_three'>Next up, transportation!</div>
		<div class='q'>
			<div class='button ac'>
			<%= radio_button_tag(:car, 'two_door') %>
			<%= label_tag(:two_door_car, "I have a two door car.") %>
			</div>
			<div class='button bc'>
			<%= radio_button_tag(:car, 'four_door') %>
			<%= label_tag(:four_door_car, "I have a four door car.") %>
			</div>
			<div class='button cc'>
			<%= radio_button_tag(:car, 'none') %>
			<%= label_tag(:no_car, "No car here friend.") %>
			</div>
		</div>
	</div>

	<div class='pane d'>		
		<div class='q_four'>
			<ul>
			<li>Ok, last but not least, check off a couple skills.</li><br>
			<li>We know you have ton's of them, but we can't list'm all<li><br>
			<li>Once you've selected a couple click submit.</li>
		</ul>
		</div>
			<div class='submit_tag'>
			<%= submit_tag "Submit", :class => "btn btn-large btn-inverse" %>
			<% end %>
			</div>
		<div class='q'>
				<div class='button ad'>
				<%= check_box_tag(:returns) %>
				<%= label_tag(:returns, "I can return and exchange things for other people.") %>
				</div>
				<div class='button bd'>
				<%= check_box_tag(:photographer) %>
				<%= label_tag(:photographer, "I take pretty pictures.") %>
				</div>
				<div class='button cd'>
				<%= check_box_tag(:painter) %>
				<%= label_tag(:painter, "I may not be Da'Vinci, but I can paint a wall or two.") %>
				</div>
				<div class='button dd'>
				<%= check_box_tag(:grocery) %>
				<%= label_tag(:grocery, "I feel at peace when I grocery shop.") %>
				</div>
				<div class='button ed'>
				<%= check_box_tag(:yardwork) %>
				<%= label_tag(:yardwork, "Give me a shovel, I'll do the rest!") %>
				</div>
		</div>
	</div>
</div>
</section>

<script>
  $(document).ready(function() {

    $("label").on("click", function() {
      $.smoothScroll({
        scrollTarget: "#pane-b"
      });
    });
  })
</script>
