<h1>Let's get started:</h1>
<br>

<h3>Tell us when you're usually available during the week.</h3>

<div class='availablity'>

<%= semantic_form_for :calc do |f| %>

<%= radio_button_tag(:availablity, '') %>
<%= label_tag(:week_days, "I am availabls on the week days.") %>

<%= radio_button_tag(:availablity, '') %>
<%= label_tag(:week_day_evenings, "I am available in the evenings.") %>

<%= radio_button_tag(:availablity, '') %>
<%= label_tag(:weekends, "I'm a weekend warrior.") %>

<%= radio_button_tag(:availablity, '') %>
<%= label_tag(:open, "I'm free as a bird, let's fill up my scehdule.") %>
<% end %>

<br>

<h3>"Now we're getting somewhere, how about your living situaion?</h3>
<h3>Let us know if you can provide someone with a crashpad."</h3>

<div class='house'>

<%= radio_button_tag(:house) %>
<%= label_tag(:house, "I have a house.") %>

<%= radio_button_tag(:apartment) %>
<%= label_tag(:apartment, "I have a whole apartment.") %>

<%= radio_button_tag(:room) %>
<%= label_tag(:room, "I have a room.") %>

<%= radio_button_tag(:no_room) %>
<%= label_tag(:no_room, "No room in the inn, let's move along.") %>


</div>

<h3>Next up, transportation!</h3>

<div class='car'>


<%= radio_button_tag(:four_door_car) %>
<%= label_tag(:four_door_car, "I have a four door car.") %>

<%= radio_button_tag(:two_door_car) %>
<%= label_tag(:two_door_car, "I have a two door car.") %>

<%= radio_button_tag(:no_car) %>
<%= label_tag(:no_car, "No car here friend.") %>

</div>

<br>

<h3>Ok, last but not least, check off a couple skills.</h3>
<h3>We know you have ton's of them, but we can't list'm all</h3>
<h3>So, just selcet from this list!</h3>

<div class='skill'>

<%= check_box_tag(:returns) %>
<%= label_tag(:returns, "I can return and exchange things for other people.") %>

<%= check_box_tag(:photographer) %>
<%= label_tag(:photographer, "I take pretty pictures.") %>

<%= check_box_tag(:painter) %>
<%= label_tag(:painter, "I may not be Da'Vinci, but I can paint a wall or two.") %>
</div>

<br>
<h3>How about those skills?</h3>

<div class='skill'>

<%= radio_button_tag(:skill, '') %>
<%= label_tag(:returns, "I can return and exchange things for other people.") %>

<%= radio_button_tag(:skill, '') %>
<%= label_tag(:photographer, "I take pretty pictures.") %>

<%= radio_button_tag(:skill, '') %>
<%= label_tag(:painter, "I may not be Da'Vinci, but I can paint a wall or two.") %>
</div>
