<header>All Done</header>

<h2>Tell your friends, chirp.</h2>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.cowbird.co" data-text="What's your cowbird number? Find out now #sharingiscaring" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br>
<h2>If you want to learn more or check out some other companies, here are some awesome links.</h2>
<ul>
<%= link_to 'SideCar', 'http://www.side.cr', :target => "_blank" %>
<%= link_to 'Lyft', 'http://www.lyft.me', :target => "_blank" %>
<%= link_to 'Airbnb', 'http://www.airbnb.com', :target => "_blank" %>
<%= link_to 'Uber', 'http://www.uber.com', :target => "_blank" %>
<%= link_to 'Taskrabbit', 'http://www.taskrabbit.com', :target => "_blank" %>
<%= link_to 'Getaround', 'http://www.getaround.com', :target => "_blank" %>
<%= link_to 'Yerdle', 'http://www.yerdle.com', :target => "_blank" %>
</ul>
 
<%#= link_to image_tag("facebook.png", :class => "facebook_icon", :alt => "Facebook"), "http://www.facebook.com/mypage", :target => "_blank" %>
