
<header>Moo-vers and shakers, welcome to Cowbird.</header>
	<div class='intro_one'>
		<h2>how much do you think you can make with your extra time,</h2>
		</div>
	
	<div class='intro_two'>
		<h2>and the things you already own?</h2>
		</div>

	<div class='start'>
	<%= link_to "Get Started", '/start' %>
	</div>

<footer>
<ul>
	<%= link_to 'about', '/about' %>
	<%= link_to 'blog', 'http://www.tumblr.com/cowbirdco', :target => "_blank" %>
	<%= link_to 'tw', 'http://www.twitter.com/cowbirdco', :target => "_blank" %>
	<%= link_to 'fb', 'http://www.facebook.com/cowbirdco', :target => "_blank" %>
	<%= link_to 'ts&cs', '/tsandcs' %>
	<%= link_to 'privacy', '/privacy' %>
</ul>
</footer>



