<header class='money'>Now here is the fun part!</header>
<header class='money'>Sign up for the services listed below and you could make bunches of extra dollars.</header>
<br>
<header>You have the potential to make this much per month:<br> <%= number_to_currency(@total_value) %></header>
<br>

<h3>
Ok, here are the companies you should sign-up for to start making some of this dough.
</h3>
<ul>
<% if @has_house %>
<%= link_to 'Airbnb', 'http://www.airbnb.com', :target => "_blank" %>
<% end %>
<% if @has_car %>
<%= link_to 'Getaround', 'http://www.getaround.com', :target => "_blank" %><% end %>
<% if @has_four_car %>
<%= link_to image_tag("sidecar.png", :class => 'sidecar_icon', :alt => "Sidecar"), "http://www.side.cr/drivers", :target => "_blank" %>
<%= link_to 'Taskrabbit', 'http://www.taskrabbit.com', :target => "_blank" %>
<% end %>
</ul>
<h3>
Give us your email address and location and we will keep you up to date
</h3>
<h3>
on the latest from the sharinging economy and whats going on in your area.
</h3>
<div class="user_form">
	<%= form_for :user, :url => {:action => :create} do |f| %>
  <%= f.label :email %>:
  <%= f.text_field :email %><br />

  <%= f.label :location %>:
  <%= f.text_field :location %><br />

  <%= f.submit %>
	<% end %>
</div>
